<%- include("partials/head") %>
    <title>Perfil</title>
</head>
<body>
<%- include("partials/navbar") %>
<div class="container">
    <div class="signup-box">
        <div class="col-1">
            <img src="/images/img.jpg">
        </div>
        <div class="col-2">
            <h2>Es bueno volver a verte  <%= locals.session.username %></h2>
            <br>    
            <h4>Datos de tu cuenta</h4>
                <label>Nombre de usuario</label>
                <div class="input-field"><%= locals.user.username%></div>

                <label>Casilla de Mail</label>
                    <div class="input-field"><%= locals.user.email%></div>
                    
                    <div class="btn">
                        <a class="btn" href="/logout">Cerrar Sesion</a>
                    </div>
        </div>
        </form>
    </div>
</div>
</div>
</body>
</html>